@model IEnumerable<Activote.Models.Frame>
    <button class="overlay-close" onclick="action.showPrevStep();" type="button">
        <span class="close-icon"></span>
    </button>
    
    <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-10 offset-md-1 col-md-5">
               <div class="author-info">
                   <span>Frame designed by:</span> <a id="aFrameAuthorURL" href="@ViewBag.FrameAuthorURL" target="_blank">@ViewBag.FrameAuthor</a>
               </div>
           </div>
       </div>
        <div class="row justify-content-center">
            <div class="screen-content col-10 offset-md-1 col-md-4">
                <input type="hidden" id="defaultFrameID" value="@ViewBag.DefaultFrameID" />
                <div id="editor-wrapper">
                    <div id="imgEditor" style="width: 100%;"></div>
                </div>
                <canvas id="downloadCanvas" style="display:none;"></canvas>
                
                <input value="1" style="display:none;" id="imgScale" />
            </div>
            <div class="screen-content d-none d-md-block col-md-1 desktop-only">
                <div class="scale-buttons">
                    <button type="button" class="btn btn-default scale-btn left" onclick="action.adjustScale(false);">-</button>
                    <button type="button" class="btn btn-default scale-btn right" onclick="action.adjustScale(true);">+</button>
                </div>
            </div>


<!--            <div class="screen-content col-12 col-md-6">slick slider enclosing div</div>-->
           
            <div class="frames">
                @foreach (var f in Model)
                {
                    <div class="frame">
                        <img src="@f.URL" onclick="action.changeFrame('@f.URL', '@f.FrameGUID.ToString()', '@f.FrameAuthor', '@f.FrameAuthorURL')" />
                    </div>
                }
            </div>
            <div class="screen-content col-10 col-md-4">
                <div class="action">
                    <button class="btn btn-default action-btn red" onclick="action.chooseFrame()">Done</button>
                </div>
            </div>
            <form id="frmChooseFrame">
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
