@using Activote.Models
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27971692-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-27971692-2');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activote: Activating Young Voters</title>
    <meta property="og:image" content="https://activote.us/Content/img/activote-social-thumb.jpg" />
    <meta property="og:description" content="Activating the votes of Millenials one selfie at a time" />
    <meta name="description" content="Activating the votes of Millenials one selfie at a time">
    <meta property="og:url" content="https://activote.us" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Activote" />

    <link rel="apple-touch-icon" sizes="57x57" href="https://activote.us/Content/img/favi/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://activote.us/Content/img/favi/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://activote.us/Content/img/favi/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://activote.us/Content/img/favi/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://activote.us/Content/img/favi/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://activote.us/Content/img/favi/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://activote.us/Content/img/favi/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://activote.us/Content/img/favi/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://activote.us/Content/img/favi/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://activote.us/Content/img/favi/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://activote.us/Content/img/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://activote.us/Content/img/favi/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://activote.us/Content/img/favi/favicon-16x16.png">
    <link rel="manifest" href="https://activote.us/Content/img/favi/manifest.json">
    <meta name="msapplication-TileColor" content="#171918">
    <meta name="msapplication-TileImage" content="https://activote.us/Content/img/favi/ms-icon-144x144.png">
    <meta name="theme-color" content="#171918">


    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/main.css")

    @RenderSection("styles", required: false)
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
</head>
<body>
    <div id="main-nav" class="navbar navbar-inverse fixed-top">
        <div>
            <div class="navbar-header">
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav-menu" aria-controls="main-nav-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Activote", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="main-nav-menu" class="navbar-collapse collapse">
               <div class="menu-wrapper">
                   <ul class="nav navbar-nav">
                       <li><a href="mailto:info@activote.us">Contact Us</a></li>
                       @if (Person.LoggedInPerson != null)
                       {
                           <li>@Html.ActionLink("Action", "Action", "Person")</li>
                           <li>@Html.ActionLink("My Contacts", "Contacts", "Person")</li>
                           <li><a href="#" class="text-nowrap">Logged in as @Person.LoggedInPerson.Name</a></li>
                           <li><a href="~/Person/Logout">Log Off</a></li>
                       }
                       else
                       {
                           <li><a href="~/Person/Login">Login</a></li>
                       }

                   </ul>
                </div>
            </div>          
        </div>
    </div>
    <div class="container-fluid body-content screens-container text-center">
        @RenderBody()
        
    </div>
    @*<hr />*@
    <footer>
        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
    </footer>
    
    
    <div class="modal" tabindex="-1" role="dialog" id="introModal">
        <div class="modal-dialog" style="max-width:95%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">How It Works</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                   <div class="embed-container">
                    <iframe src="https://player.vimeo.com/video/296435742" width="640" height="1138" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
            </div>
        </div>
    </div>
    
    <input type="hidden" id="SitePath" value="~/" />    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    @Scripts.Render("~/Content/lib/bootstrap.min.js")
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        var activoteGlobal = {};
        $(function () {
            activoteGlobal.sitePath = $("#SitePath").val();
            activoteGlobal.personID = @Person.LoggedInPersonID;
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
