@using Activote.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/main.css")
    
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Activote", "Signup", "Person", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Person.LoggedInPerson != null)
                    {
                        <li>@Html.ActionLink("Action", "Action", "Person")</li>
                        <li>@Html.ActionLink("My Contacts", "Contacts", "Person")</li>
                        <li><a href="#">Logged in as @Person.LoggedInPerson.Name</a></li>
                        <li><a href="~/Person/Logout">Log Off</a></li>
                    }
                    else
                    {
                        <li><a href="~/Person/Login">Login</a></li>
                    }
                    <li><a href="~/Home/StateTest">Check Registration</a></li>
                    <li></li>
                </ul>
            </div>            
        </div>
    </div>
    <div class="container-fluid body-content screens-container">
        @RenderBody()
        
    </div>
    @*<hr />*@
    <footer>
        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
    </footer>
    <input type="hidden" id="SitePath" value="~/" />    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    @Scripts.Render("~/Content/lib/bootstrap.min.js")

    <script>
        var activoteGlobal = {};
        $(function () {
            activoteGlobal.sitePath = $("#SitePath").val();
            activoteGlobal.personID = @Person.LoggedInPersonID;
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
