@model Activote.Models.UploadFrameViewModel

@{
    ViewBag.Title = "UploadFrame";
}

<form method="post" enctype="multipart/form-data" style="background-color:white;">
    @Html.AntiForgeryToken()

    <input type="hidden" name="guid" value="@ViewBag.guid" />
    <div class="form-group">
        <label class="col-md-2">Action</label>
        <div class="col-md-10">
            <select class="form-control" name="ActionID">
                @foreach (var a in Model.actions)
                {
                    <option value="@a.ActionID">@a.ActionName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="FrameName" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Author</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="FrameAuthor" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Author URL</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="FrameAuthorURL" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Background Hex Value (default is black)</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="BackgroundHex" value="000000" />
        </div>
    </div>
    @*<div class="form-group">
            <label class="col-md-2">Square?</label>
            <div class="col-md-10">
                <input type="checkbox" name="IsSquare" value="true" />
                <input type="hidden" name="IsSquare" value="false" />
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-md-2">
            <input type="file" class="form-control" name="file" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </div>
</form>
<div style="background-color:white;">
    @foreach (var f in Model.frames)
    {
        <span style="margin-right:10px;">
            <a href="#" onclick="deleteFrame(@Json.Encode(f))">Delete</a>
            <img style="width:300px" src="~/Home/Frame/@f" />            
        </span>
    }
</div>

@section scripts{
    <script>
        function deleteFrame(guid) {
            if (confirm("Are you sure?")) {
                $.ajax({
                    url: activoteGlobal.sitePath + "Admin/DeleteFrame",
                    data: { authGuid: '@ViewBag.guid', frameGuid: guid },
                    success: function (result) {
                        alert(result);
                        if (result == "Success") {
                            location.reload();
                        }
                    }
                });
            }
        }
    </script>
}